/* latin */
@font-face {
  font-family: 'Corsiva';
  font-style: normal;
  font-weight: 400;
  src: local('Corsiva'), url(https://fonts.gstatic.com/l/font?kit=43uFjXzj0On0pQd4M8p6KALUuEpTyoUstqEm5AMlJo4&skey=b9a50c359455acd3&v=v8) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
